a {
    color: white;
}

.ava {
    max-width: calc(var(--index) * 20);
    max-height: calc(var(--index) * 20);
    width: 350px;
    height: 350px;
    margin: 30px;
}


.icon {
    width: calc(var(--index) * 8);
    height: calc(var(--index) * 8);
    margin: 10px;
}

.maindiv {
    display: block;
}

@media (max-width: 750px) {
    .inputwin .submitbtn {
        background-color: #AD00FF;
        width: 550px;
        height: 150px;
    }
}


.submitbtnimg {
    background-color: #AD00FF;
    width: calc(var(--index) * 10);
    height: calc(var(--index) * 3);
    font-size: calc(var(--index) * 1.2);
    border-color: transparent;
    transition: transform 1s;
    border-radius: 30px;
    margin-top: 15px;
    color: white;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.submitbtnimg :hover {
    transform: scale(1.1);
    background-color: #FF00F5;
    font-size: calc(var(--index) * 1.2);
    border-color: transparent;
    font-weight: 400;
}
}

#success {
    color: green;
    margin-top: -50px;
    margin-bottom: 20px;
}

body {
    left: 0;
    right: 0; /* Вся ширин */
    top: 0;
    bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(/images/MainBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.inputwin {
    margin-top: -55px;
}

.inputwin input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--index) * 20);
    border-color: transparent;
    background-color: transparent;
    border-bottom-color: white;
    font-family: "Sansation Light";
    color: white;
}

.inputwin label {
    display: block;
    text-align: center;
}

.inputwin input {
    border-color: transparent;
    background-color: transparent;
    border-bottom-color: white;
}

.inputwin .styleh1 {
    margin-bottom: 50px;
    font-size: calc(var(--index) * 2)
}

.inputwin .submitbtn {
    background-color: #AD00FF;
    width: calc(var(--index) * 10);
    height: calc(var(--index) * 3);
    font-size: calc(var(--index) * 1.2);
    border-color: transparent;
    transition: transform 1s;
    border-radius: 30px;
    display: block;
    margin-top: 15px;
}

    .inputwin .submitbtn:hover {
        transform: scale(1.1);
        background-color: #FF00F5;
        font-size: calc(var(--index) * 1.2);
        border-color: transparent;
        font-weight: 400;
    }


    .inputwin a {
        font-family: "Sansation Light";
        color: white;
        font-weight: 300;
        display: inline-block;
        transition: linear 0.5s;
    }

       

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #f00;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
