@using FantaxyApp.Models.DB;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fantaxy </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/find.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navigation.css" />
</head>
<body>
    <nav class ="nav">
        <div class="maindiv1">

            <div class="planets">
                <button>
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>

                <img src="~/images/Planet.png"/>
                <img src="~/images/Planet.png" />
            </div>

            <div class="profile">
                <form methood="get" asp-controller="MainProfile" asp-action="Profile">
                    @using (FantaxyDBContext db = new FantaxyDBContext())
                    {
                        @if (GlobalParameters.Users != null && GlobalParameters.UserInfo != null)
                        {
                            <img class="ava" src="data:image/jpeg;base64,@(Convert.ToBase64String(GlobalParameters.UserInfo.Avatar))"/>
                            <input type="submit" id="avaBtn" hidden />
                        }
                    }
                </form>
            </div>
        </div>
    </nav>
              <div class="maindiv">
                  <div class="find">
                      <form>
                        <button>
                            <span class="material-symbols-outlined">
                                search
                            </span>
                        </button>
                        <input class="text" type="text" />
                    <input hidden type="submit" />
                    
                        </form>
                  
                  </div>

                    <div>
                        <div class="filter">
                            <button>
                    <span> Пользователи </span>
                </button>
                <button>
                    <span> Планеты </span>
                            </button>
                        </div>
                    </div>
                </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const avaImg = document.querySelector('.ava');
        const avaBtn = document.getElementById('avaBtn');

        avaImg.addEventListener('click', function () {
            avaBtn.click();
        });
    </script>
</body>
</html>

