@using FantaxyApp.Models.DB;
@model FantaxyApp.Models.DB.User


@{
    string replacedText = Url.Action("ReplaceImageTags", "Image", new { input = GlobalParameters.UserInfo.UserDesc }).ToString();
    string back1;
    string back2;
    if (GlobalParameters.UserInfo.MainBackground != null)
    {
        back1 = "url('data:image/jpeg;base64,@(Convert.ToBase64String(GlobalParameters.UserInfo.MainBackground))')";
    }
    else
    {
        back1 = " linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,119,1) 47%, rgba(2,0,36,1) 100%)";
    }

    if (GlobalParameters.UserInfo.SecondBackground != null)
    {
        back2 = "url('data:image/jpeg; base64,@(Convert.ToBase64String(GlobalParameters.UserInfo.SecondBackground))')";
    }
    else
    {
        back2 = "radial-gradient(circle, rgba(255,0,181,1) 0%, rgba(217,0,59,1) 47%, rgba(36,0,0,1) 100%) ";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Профиль</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/profile.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navigation.css" />
</head>
<body>
                <style>
                body {
                    background-image: @back1;
                    left: 0;
                    right: 0; /* Вся ширин */
                    top: 0;
                    bottom: 0; /* Вся высота */
                    z-index: -1; /* Фон ниже текста */
                    /* Параметры фона */
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: fixed;
                }

                .maindiv .profilediv {
                    background-image: @back2;
                    padding-bottom: 50px;
                    margin-bottom: 20px;
                    display: block;
                    width: 100vw;

                }
                </style>
    <nav class="nav">
        <div class="maindiv1">

            <div class="planets">
                <a asp-controller="FindPage" asp-action="Find">
                    <button>
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </a>

                <img src="~/images/Planet.png" />
                <img src="~/images/Planet.png" />
            </div>

            <div class="profile">
                <form methood="get" asp-controller="MainProfile" asp-action="Profile">
                    @using (FantaxyDBContext db = new FantaxyDBContext())
                    {
                        @if (GlobalParameters.Users != null && GlobalParameters.UserInfo != null)
                        {
                            <img class="ava" src="data:image/jpeg;base64,@(Convert.ToBase64String(GlobalParameters.UserInfo.Avatar))" />
                            <input type="submit" id="avaBtn" hidden />
                        }
                    }
                </form>
            </div>
        </div>
    </nav>

    <div class="maindiv">
        <a class="editprofile" asp-controller="MainProfile" asp-action="EditProfile">
            <span class="material-symbols-outlined">
                edit
            </span>
        </a>
        <form method="get" asp-action="Logout">
            <div class="profilediv">
            @if (GlobalParameters.Users != null && GlobalParameters.UserInfo != null)
            {
                <img class="avamain" src="data:image/jpeg;base64,@(Convert.ToBase64String(GlobalParameters.UserInfo.Avatar))" />
            }  

            <h1> @GlobalParameters.UserInfo.UserName </h1>
            <h2> @GlobalParameters.UserRole </h2>
            </div>
            
            <textarea wrap="soft"> @replacedText </textarea>

            <input type="submit" class="submitbtn" value = "Выйти" />

        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        document.getElementsByClassName('ava').addEventListener('click', function () {
            document.getElementById('avaFile').click();
        });
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

